* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    --background: #0D114F;
    --white: #FAFAFA;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --grey-blue: #A1B2CD;

    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--background);
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 100%;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

form {
    display: flex;
    flex-direction: column;
    background: var(--grey-blue);
    gap: 3rem;
    padding: 7rem;
    border-radius: 0 .5rem .5rem .5rem;
}

button, input {
    padding: 1rem;
    outline: none;
    border-radius: .3rem;
    background: var(--white);
}

button {
    cursor: pointer;
    font-weight: 700;
    color: var(--blue);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
}

button:hover {
    filter: brightness(1.2);
    transition: 0.3s;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    visibility: visible;
}

.visibility {
    visibility: hidden;
}

span {
    font-size: 1.4rem;
}
